<body class="bg-blue-950">
  <div class="text-white border-r-2 pr-8 mt-48 pl-20">
    <h1 class="text-5xl font-bold mb-4">Andres felipe <br>
      torres lopez</h1>

     <p>Estudiante de Tecnología en Análisis y Desarrollo de Software, enfoque en <br>
      Ruby y Ruby on Rails.<br>
      Completé cursos en Ciberseguridad Básica y Desarrollo Web.</p>
    <div class="w-16 h-8 mx-4">
      <%= image_tag('linkedin.png', alt: 'linkedin') %>
    </div>
    <div class="w-16 h-8 mx-4">
      <%= image_tag('github.png', alt: 'github') %>
    </div>
  </div>


  <div class="w-16 h-8 mx-4">
    <%= image_tag('cv.png', alt: 'Logo') %>
  </div>

  <div class="w-16 h-8 mx-4">
    <%= image_tag('foto.png', alt: 'foto') %>
  </div>
</body>