<body class="bg-blue-950">
  <div class="grid grid-cols-1 sm:grid-cols-3 gap-6 container mx-auto py-5 sm:py-10">
    <div class="col-span-1 sm:col-span-3 px-12 sm:px-0">
      <p class="text-white py-5 shadow-lg shadow-cyan-500/50 rounded-lg font-extrabold">
        Bienvenido a mi sección educativa, donde destaco las experiencias más relevantes que han moldeado mi perfil profesional.
        Aquí encontrarás un vistazo a mi formación clave en Desarrollo Web, Análisis y Desarrollo de Software, así como en Ciberseguridad.
        Estos cursos han sido fundamentales en mi trayectoria, proporcionándome las habilidades esenciales para enfrentar desafíos tecnológicos.
        ¡Explora mi recorrido educativo!
      </p>
    </div>
    <div class="text-center container px-12 py-10 mx-auto rounded-lg shadow-lg shadow-cyan-500/50 text-white">
      <h2 class="py-5 text-blue-500 font-extrabold">
        Oracle-One<br>
        G6
      </h2>
      <h3 class="py-5">
        01/2024 – PRESENTE
      </h3>
      <p class="text-left py-5">
        estudiante apasionado actualmente inmerso en el emocionante curso de Oracle-One, donde estoy explorando las complejidades del desarrollo web.
        Mi enfoque principal es utilizar JavaScript como lenguaje principal para desarrollar aplicaciones web dinámicas y eficientes.
        A lo largo de este curso, estoy adquiriendo habilidades sólidas en el uso de JavaScript tanto en el frontend como en el backend.
        Estoy emocionado de aplicar este conocimiento para crear soluciones web completas y funcionales.
      </p>
    </div>
    <div class="bg-white text-center container px-12 py-10 mx-auto rounded-lg shadow-lg shadow-cyan-500/50">
      <h2 class="py-5 text-blue-500 font-extrabold">
        Software<br>
        Tecnologo análisis y<br>
        desarrollo de software<br>
        Sena
      </h2>
      <h3 class="py-5">
        05/2023 – PRESENTE
      </h3>
      <p class="text-left py-5">
        Soy estudiante activo del programa de Tecnólogo en Análisis y Desarrollo de Software en el SENA,
        donde estoy inmerso en el fascinante mundo de la programación y la creación de soluciones tecnológicas innovadoras.
        Mi enfoque se centra en adquirir habilidades prácticas que me permitan diseñar y desarrollar software eficiente.
        Este viaje educativo en constante evolución me impulsa a mantenerme al tanto de las últimas tendencias tecnológicas y a aplicar mis conocimientos en proyectos desafiantes.
        ¡Listo para llevar la programación a nuevos horizontes!
      </p>
    </div>
    <div class="text-center container px-12 py-10 mx-auto rounded-lg shadow-lg shadow-cyan-500/50 text-white">
      <h2 class="py-5 text-blue-500 font-extrabold">
        Bootcamp<br>
        Backend Avanzado:<br>
        Microservicios<br>
        Codigo Facilito
      </h2>
      <h3 class="py-5">
        03/2024 – PRESENTE
      </h3>
      <p class="text-left py-5">

      </p>
    </div>
    <div class="bg-white text-center container px-12 py-10 mx-auto rounded-lg shadow-lg shadow-cyan-500/50">
      <h2 class="py-5 text-blue-500 font-extrabold">
        Desarrollo Web<br>
        Full Stack Basico<br>
        Todos a la U, atenea, U<br>
        Distrital
      </h2>
      <h3 class="py-5">
        08/2023 – 12/2023
      </h3>
      <p class="text-left py-5">
        Participé en un curso de Desarrollo Web Full Stack en colaboración con Atenea en la Universidad Distrital.
        Durante esta experiencia, adquirí conocimientos clave y aplicaciones prácticas, mejorando mis habilidades tanto en el diseño de interfaces como en el desarrollo de funcionalidades.
        Este curso ha sido un paso significativo en mi camino hacia la maestría en el desarrollo web. ¡Emocionado por seguir creciendo en este campo apasionante!
      </p>
    </div>
    <div class="text-center container px-12 py-10 mx-auto rounded-lg shadow-lg shadow-cyan-500/50 text-white">
      <h2 class="py-5 text-blue-500 font-extrabold">
        Ciberseguridad<br>
        Ciberseguridad básico<br>
        UCamp/Utel
      </h2>
      <h3 class="py-5">
        02/2023 – 08/2023
      </h3>
      <p class="text-left py-5">
        Participé en un curso de Ciberseguridad Básica en colaboración con UCamp UTEL. Este programa me proporcionó conocimientos esenciales en ciberseguridad,
        abordando fundamentos clave para comprender y proteger entornos digitales.
        A través de esta formación, he fortalecido mi comprensión de las amenazas cibernéticas y las medidas de seguridad necesarias.
        Este curso representa un paso crucial en mi desarrollo profesional en el ámbito de la ciberseguridad, y estoy emocionado por aplicar estos conocimientos en desafíos futuros.
      </p>
    </div>
  </div>
</body>