<div class="grid grid-cols-1 sm:grid-cols-2 gap-6 container mx-auto py-2 text-white">
  <div class="text-left py-10 sm:py-10 px-10">
    <div>
      <h1 class="text-5xl font-bold mb-4">Andres felipe <br>
        torres lopez</h1>
      <p class="py-5">
        ¡Hola! Soy un estudiante de Tecnología en Análisis y Desarrollo de Software, con un enfoque apasionado en Ruby y Ruby on Rails.
        He completado cursos tanto en Ciberseguridad Básica como en Desarrollo Web, lo que me ha proporcionado
        una base sólida para abordar diversos aspectos del desarrollo de software de manera segura y eficiente.<br>

        Mi interés y dedicación en el desarrollo con Ruby y Ruby on Rails se reflejan en los proyectos que encontrarás en este portafolio.
        Cada proyecto es una oportunidad para aplicar mis conocimientos y habilidades en la creación de soluciones innovadoras y funcionales.<br>

        ¡Gracias por visitar mi portafolio y espero que disfrutes explorando mis proyectos tanto como yo disfruté creándolos!
      </p>
    </div>
    <div class="grid grid-rows-3 gap-8 ">
      <div class="flex  w-10 h-12 shadow-lg shadow-cyan-500/50 rounded-full transition scale-100 hover:scale-150 duration-300">
        <%= link_to image_tag('linkedin.png', alt: 'Linkedin').concat("linkedin.com/in/andrestorresdeveloper"),
                    "https://www.linkedin.com/in/andrestorresdeveloper", target: "_blank", class: "flex"%>
      </div>
      <div class="flex  w-10 h-12 shadow-lg shadow-cyan-500/50 rounded-full transition scale-100 hover:scale-150 duration-300">
        <%= link_to image_tag('github.png', alt: 'github').concat("github.com/Totenkopf1995"),
                    "https://github.com/Totenkopf1995", target: "_blank", class: "flex"%>
      </div>
      <div class="flex  w-10 h-12 shadow-lg shadow-cyan-500/50 rounded-full transition scale-100 hover:scale-150 duration-300">
        <%= link_to image_tag('cv.png', alt: 'CV').concat("CV"),
                    "https://www.canva.com/design/DAF5Xa5ia-I/RAmGCNXBiA1fzgDTu8Ez5w/view?utm_content=DAF5Xa5ia-I&utm_campaign=designshare&utm_medium=link&utm_source=editor", target: "_blank", class: "flex"%>
      </div>
    </div>
  </div>
  <div class="shadow-lg shadow-cyan-500/50 rounded-full">
    <%= image_tag('foto.png', alt: 'foto', class: "rounded-full") %>
  </div>
</div>